openapi: 3.0.1
info:
  contact:
    email: support@bitbucket.org
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
  description: Code against the Bitbucket API to automate simple tasks, embed Bitbucket
    data into your own site, build mobile or desktop apps, or even add custom UI add-ons
    into Bitbucket itself using the Connect framework.
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  title: Bitbucket API
  version: "2.0"
servers:
- url: https://api.bitbucket.org/2.0
tags:
- description: ""
  name: users
- description: ""
  name: teams
- description: ""
  name: repositories
- description: |-
    Browse the source code in the repository and
                                  create new commits by uploading.
  name: source
- description: ""
  name: refs
- description: ""
  name: commits
- description: ""
  name: pullrequests
- description: |-
    The issue resources provide functionality for getting information on
    issues in an issue tracker, creating new issues, updating them and deleting
    them.

    You can access public issues without authentication, but you can't gain access
    to private repositories' issues. By authenticating, you will get the ability
    to create issues, as well as access to updating data or deleting issues you
    have access to.
  name: issue_tracker
- description: ""
  name: wiki
- description: ""
  name: downloads
- description: ""
  name: snippets
- description: |
    Webhooks provide a way to configure Bitbucket Cloud to make requests to
    your server (or another external service) whenever certain events occur in
    Bitbucket Cloud.

    A webhook consists of:

    * A subject -- The resource that generates the events. Currently, this resource
      is the repository, user account, or team where you create the webhook.
    * One or more event -- The default event is a repository push, but you can
      select multiple events that can trigger the webhook.
    * A URL -- The endpoint where you want Bitbucket to send the event payloads
      when a matching event happens.

    There are two parts to getting a webhook to work: creating the webhook and
    triggering the webhook. After you create a webhook for an event, every time
    that event occurs, Bitbucket sends a payload request that describes the event
    to the specified URL. Thus, you can think of webhooks as a kind of
    notification system.

    Use webhooks to integrate applications with Bitbucket Cloud. The following
    use cases provides examples of when you would want to use webhooks:

    * Every time a user pushes commits in a repository, you may want to notify
      your CI server to start a build.
    * Every time a user pushes commits or creates a pull request, you may want to
      display a notification in your application.
  name: webhooks
- description: |
    Commit statuses provide a way to tag commits with meta data,
    like automated build results.
  name: commitstatuses
- description: |
    Repository owners and administrators can set branch management
    rules on a repository that control what can be pushed by whom.
    Through these rules, you can enforce a project or team
    workflow. For example, owners or administrators can:

    * Limit push powers
    * Prevent branch (bookmark) deletion
    * Prevent history re-writes (Git only)
  name: branchrestrictions
- description: |
    Bitbucket Cloud projects make it easier for teams to focus on
    a goal, product, or process by organizing their repositories.
  name: projects
- description: |
    Bitbucket Pipelines brings continuous delivery to Bitbucket
    Cloud, empowering teams with full branching to deployment
    visibility and faster feedback loops.
  name: pipelines
- description: |
    Teams are deploying code faster than ever, thanks to continuous
    delivery practices and tools like Bitbucket Pipelines. Bitbucket
    Deployments gives teams visibility into their deployment
    environments and helps teams to track how far changes have
    progressed in their deployment pipeline.
  name: deployments
paths:
  /repositories/{workspace}/{repo_slug}/branching-model:
    get:
      description: |-
        Return the branching model as applied to the repository. This view is
        read-only. The branching model settings can be changed using the
        [settings](branching-model/settings#get) API.

        The returned object:

        1. Always has a `development` property. `development.branch` contains
           the actual repository branch object that is considered to be the
           `development` branch. `development.branch` will not be present
           if it does not exist.
        2. Might have a `production` property. `production` will not
           be present when `production` is disabled.
           `production.branch` contains the actual branch object that is
           considered to be the `production` branch. `production.branch` will
           not be present if it does not exist.
        3. Always has a `branch_types` array which contains all enabled branch
           types.

        Example body:

        ```
        {
          "development": {
            "name": "master",
            "branch": {
              "type": "branch",
              "name": "master",
              "target": {
                "hash": "16dffcb0de1b22e249db6799532074cf32efe80f"
              }
            },
            "use_mainbranch": true
          },
          "production": {
            "name": "production",
            "branch": {
              "type": "branch",
              "name": "production",
              "target": {
                "hash": "16dffcb0de1b22e249db6799532074cf32efe80f"
              }
            },
            "use_mainbranch": false
          },
          "branch_types": [
            {
              "kind": "release",
              "prefix": "release/"
            },
            {
              "kind": "hotfix",
              "prefix": "hotfix/"
            },
            {
              "kind": "feature",
              "prefix": "feature/"
            },
            {
              "kind": "bugfix",
              "prefix": "bugfix/"
            }
          ],
          "type": "branching_model",
          "links": {
            "self": {
              "href": "https://api.bitbucket.org/.../branching-model"
            }
          }
        }
        ```
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model'
          description: The branching model object
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the request was not authenticated
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have read access to the
            repository
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the repository does not exist
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - branching_model
      x-tags:
      - tag: branching_model
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    delete:
      description: Delete an application property value stored against a commit.
      operationId: deleteCommitHostedPropertyValue
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The commit.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: The key of the Connect app.
        in: path
        name: app_key
        required: true
        schema:
          type: string
      - description: The name of the property.
        in: path
        name: property_name
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: An empty response.
      tags:
      - properties
      x-tags:
      - tag: properties
    get:
      description: Retrieve an application property value stored against a commit.
      operationId: getCommitHostedPropertyValue
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The commit.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: The key of the Connect app.
        in: path
        name: app_key
        required: true
        schema:
          type: string
      - description: The name of the property.
        in: path
        name: property_name
        required: true
        schema:
          type: string
      responses:
        200:
          content: {}
          description: The value of the property.
      tags:
      - properties
      x-tags:
      - tag: properties
    put:
      description: Update an application property value stored against a commit.
      operationId: updateCommitHostedPropertyValue
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The commit.
        in: path
        name: commit
        required: true
        schema:
          type: string
      - description: The key of the Connect app.
        in: path
        name: app_key
        required: true
        schema:
          type: string
      - description: The name of the property.
        in: path
        name: property_name
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: An empty response.
      tags:
      - properties
      x-tags:
      - tag: properties
  /user:
    get:
      description: Returns the currently logged in user.
      responses:
        200:
          content:
            application/json:
              example:
                uuid: '{58021780-82b6-4517-b153-0ae73ce3e4b4}'
                account_status: active
                links:
                  followers:
                    href: https://api.bitbucket.org/2.0/users/example-username/followers
                  following:
                    href: https://api.bitbucket.org/2.0/users/example-username/following
                  html:
                    href: https://bitbucket.org/example-username/
                  snippets:
                    href: https://api.bitbucket.org/2.0/snippets/example-username
                  self:
                    href: https://api.bitbucket.org/2.0/users/example-username
                  avatar:
                    href: https://bitbucket.org/account/example-username/avatar/
                  repositories:
                    href: https://api.bitbucket.org/2.0/repositories/example-username
                account_id: 123456:daffbc08-1a80-4bd0-98bf-7997de0a3d10
                nickname: example-username
                created_on: 2018-06-20T23:17:33.616037+00:00
                display_name: Example Username
                is_staff: false
                username: example-username
                type: user
              schema:
                $ref: '#/components/schemas/user'
          description: The current user.
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: When the request wasn't authenticated.
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      tags:
      - users
      x-tags:
      - tag: users
  /repositories/{workspace}/{repo_slug}/downloads/{filename}:
    delete:
      description: Deletes the specified download artifact from the repository.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: filename
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unexpected error.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      tags:
      - downloads
      x-tags:
      - tag: downloads
    get:
      description: |-
        Return a redirect to the contents of a download artifact.

        This endpoint returns the actual file contents and not the artifact's
        metadata.

            $ curl -s -L https://api.bitbucket.org/2.0/repositories/evzijst/git-tests/downloads/hello.txt
            Hello World
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: filename
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unexpected error.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - downloads
      x-tags:
      - tag: downloads
  /repositories/{workspace}/{repo_slug}/issues/{issue_id}/changes:
    get:
      description: |-
        Returns the list of all changes that have been made to the specified
        issue. Changes are returned in chronological order with the oldest
        change first.

        Each time an issue is edited in the UI or through the API, an immutable
        change record is created under the `/issues/123/changes` endpoint. It
        also has a comment associated with the change.

        Note that this operation is changing significantly, due to privacy changes.
        See the [announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-changes-gdpr/#changes-to-the-issue-changes-api)
        for details.

        ```
        $ curl -s https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/issues/1/changes - | jq .

        {
          "pagelen": 20,
          "values": [
            {
              "changes": {
                "priority": {
                  "new": "trivial",
                  "old": "major"
                },
                "assignee": {
                  "new": "",
                  "old": "evzijst"
                },
                "assignee_account_id": {
                  "new": "",
                  "old": "557058:c0b72ad0-1cb5-4018-9cdc-0cde8492c443"
                },
                "kind": {
                  "new": "enhancement",
                  "old": "bug"
                }
              },
              "links": {
                "self": {
                  "href": "https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/issues/1/changes/2"
                },
                "html": {
                  "href": "https://bitbucket.org/evzijst/dogslow/issues/1#comment-2"
                }
              },
              "issue": {
                "links": {
                  "self": {
                    "href": "https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/issues/1"
                  }
                },
                "type": "issue",
                "id": 1,
                "repository": {
                  "links": {
                    "self": {
                      "href": "https://api.bitbucket.org/2.0/repositories/evzijst/dogslow"
                    },
                    "html": {
                      "href": "https://bitbucket.org/evzijst/dogslow"
                    },
                    "avatar": {
                      "href": "https://bitbucket.org/evzijst/dogslow/avatar/32/"
                    }
                  },
                  "type": "repository",
                  "name": "dogslow",
                  "full_name": "evzijst/dogslow",
                  "uuid": "{988b17c6-1a47-4e70-84ee-854d5f012bf6}"
                },
                "title": "Updated title"
              },
              "created_on": "2018-03-03T00:35:28.353630+00:00",
              "user": {
                "username": "evzijst",
                "nickname": "evzijst",
                "display_name": "evzijst",
                "type": "user",
                "uuid": "{aaa7972b-38af-4fb1-802d-6e3854c95778}",
                "links": {
                  "self": {
                    "href": "https://api.bitbucket.org/2.0/users/evzijst"
                  },
                  "html": {
                    "href": "https://bitbucket.org/evzijst/"
                  },
                  "avatar": {
                    "href": "https://bitbucket.org/account/evzijst/avatar/32/"
                  }
                }
              },
              "message": {
                "raw": "Removed assignee, changed kind and priority.",
                "markup": "markdown",
                "html": "<p>Removed assignee, changed kind and priority.</p>",
                "type": "rendered"
              },
              "type": "issue_change",
              "id": 2
            }
          ],
          "page": 1
        }
        ```

        Changes support [filtering and sorting](../../../meta/filtering) that
        can be used to search for specific changes. For instance, to see
        when an issue transitioned to "resolved":

        ```
        $ curl -s https://api.bitbucket.org/2.0/repositories/site/master/issues/1/changes \
           -G --data-urlencode='q=changes.state.new = "resolved"'
        ```

        This resource is only available on repositories that have the issue
        tracker enabled.

        N.B.

        The `changes.assignee` and `changes.assignee_account_id` fields are not
        a `user` object. Instead, they contain the raw `username` and
        `account_id` of the user. This is to protect the integrity of the audit
        log even after a user account gets deleted.

        The `changes.assignee` field is deprecated will disappear in the
        future. Use `changes.assignee_account_id` instead.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The issue id
        in: path
        name: issue_id
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |2-

          Query string to narrow down the response. See
          [filtering and sorting](../../../meta/filtering) for details.
        in: query
        name: q
        schema:
          type: string
      - description: |2

          Name of a response property to sort results. See
          [filtering and sorting](../../../meta/filtering#query-sort)
          for details.
        in: query
        name: sort
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_log_entries'
          description: Returns all the issue changes that were made on the specified
            issue.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The specified repository or issue does not exist or does not
            have the issue tracker enabled.
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      tags:
      - issue_tracker
      x-tags:
      - tag: issue_tracker
    post:
      description: |-
        Makes a change to the specified issue.

        For example, to change an issue's state and assignee, create a new
        change object that modifies these fields:

        ```
        curl https://api.bitbucket.org/2.0/site/master/issues/1234/changes \
          -s -u evzijst -X POST -H "Content-Type: application/json" \
          -d '{
            "changes": {
              "assignee_account_id": {
                "new": "557058:c0b72ad0-1cb5-4018-9cdc-0cde8492c443"
              },
              "state": {
                "new": 'resolved"
              }
            }
            "message": {
              "raw": "This is now resolved."
            }
          }'
        ```

        The above example also includes a custom comment to go alongside the
        change. This comment will also be visible on the issue page in the UI.

        The fields of the `changes` object are strings, not objects. This
        allows for immutable change log records, even after user accounts,
        milestones, or other objects recorded in a change entry, get renamed or
        deleted.

        The `assignee_account_id` field stores the account id. When POSTing a
        new change and changing the assignee, the client should therefore use
        the user's account_id in the `changes.assignee_account_id.new` field.

        This call requires authentication. Private repositories or private
        issue trackers require the caller to authenticate with an account that
        has appropriate authorization.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The issue id
        in: path
        name: issue_id
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue_change'
        description: The new issue state change. The only required elements are `changes.[].new`.
          All other elements can be omitted from the body.
        required: true
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue_change'
          description: The newly created issue change.
          headers:
            Location:
              description: The (absolute) URL of the newly created issue change.
              schema:
                type: string
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: When the request wasn't authenticated.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: When the authenticated user isn't authorized to modify the
            issue.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The specified repository or issue does not exist or does not
            have the issue tracker enabled.
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      tags:
      - issue_tracker
      x-tags:
      - tag: issue_tracker
  /repositories/{workspace}/{repo_slug}/patch/{spec}:
    get:
      description: |-
        Produces a raw patch for a single commit (diffed against its first
        parent), or a patch-series for a revspec of 2 commits (e.g.
        `3a8b42..9ff173` where the first commit represents the source and the
        second commit the destination).

        In case of the latter (diffing a revspec), a patch series is returned
        for the commits on the source branch (`3a8b42` and its ancestors in
        our example). For Mercurial, a single patch is returned that combines
        the changes of all commits on the source branch.

        While similar to diffs, patches:

        * Have a commit header (username, commit message, etc)
        * Do not support the `path=foo/bar.py` query parameter

        The raw patch is returned as-is, in whatever encoding the files in the
        repository use. It is not decoded into unicode. As such, the
        content-type is `text/plain`.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: spec
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content: {}
          description: The raw patches
        555:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: |-
            If the diff was too large and timed out.

            Since this endpoint does not employ any form of pagination, but
            instead returns the diff as a single document, it can run into
            trouble on very large diffs. If Bitbucket times out in cases
            like these, a 555 status code is returned.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - commits
      x-tags:
      - tag: commits
  /users/{username}/members:
    get:
      description: |-
        Returns all members of the specified team. Any member of any of the
        team's groups is considered a member of the team. This includes users
        in groups that may not actually have access to any of the team's
        repositories.

        This operation has been deprecated due to privacy changes.
        See the [announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-changes-gdpr/)
        for details.
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                uuid: '{58021780-82b6-4517-b153-0ae73ce3e4b4}'
                nickname: example-username
                links:
                  html:
                    href: https://bitbucket.org/example-username/
                  self:
                    href: https://api.bitbucket.org/2.0/users/example-username
                  avatar:
                    href: https://bitbucket.org/account/example-username/avatar/
                account_id: 123456:daffbc08-1a80-4bd0-98bf-7997de0a3d10
                account_status: active
                type: user
                username: example-username
                display_name: Example Username
              schema:
                $ref: '#/components/schemas/user'
          description: All members
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: When the team does not exist, or multiple teams with the same
            name exist that differ only in casing and the URL did not match the exact
            casing of a particular one.
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      tags:
      - teams
      x-tags:
      - tag: teams
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/comments/{comment_id}:
    delete:
      description: Deletes a specific pull request comment.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: pull_request_id
        required: true
        schema:
          type: string
      - in: path
        name: comment_id
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: Successful deletion.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have access to delete the
            pull request.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the pull request does not exist.
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      tags:
      - pullrequests
      x-tags:
      - tag: pullrequests
    get:
      description: Returns a specific pull request comment.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: pull_request_id
        required: true
        schema:
          type: string
      - in: path
        name: comment_id
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequest_comments'
          description: The comment.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have access to the pull
            request.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the pull request does not exist.
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      tags:
      - pullrequests
      x-tags:
      - tag: pullrequests
    put:
      description: Updates a specific pull request comment.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: pull_request_id
        required: true
        schema:
          type: string
      - in: path
        name: comment_id
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment'
        description: The contents of the updated comment.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
          description: The updated comment.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have access to the pull
            request.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the pull request does not exist.
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      tags:
      - pullrequests
      x-tags:
      - tag: pullrequests
  /repositories/{workspace}/{repo_slug}/pullrequests/{pullrequest_id}/properties/{app_key}/{property_name}:
    delete:
      description: Delete an application property value stored against a pull request.
      operationId: deletePullRequestHostedPropertyValue
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The pull request ID.
        in: path
        name: pullrequest_id
        required: true
        schema:
          type: string
      - description: The key of the Connect app.
        in: path
        name: app_key
        required: true
        schema:
          type: string
      - description: The name of the property.
        in: path
        name: property_name
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: An empty response.
      tags:
      - properties
      x-tags:
      - tag: properties
    get:
      description: Retrieve an application property value stored against a pull request.
      operationId: getPullRequestHostedPropertyValue
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The pull request ID.
        in: path
        name: pullrequest_id
        required: true
        schema:
          type: string
      - description: The key of the Connect app.
        in: path
        name: app_key
        required: true
        schema:
          type: string
      - description: The name of the property.
        in: path
        name: property_name
        required: true
        schema:
          type: string
      responses:
        200:
          content: {}
          description: The value of the property.
      tags:
      - properties
      x-tags:
      - tag: properties
    put:
      description: Update an application property value stored against a pull request.
      operationId: updatePullRequestHostedPropertyValue
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The pull request ID.
        in: path
        name: pullrequest_id
        required: true
        schema:
          type: string
      - description: The key of the Connect app.
        in: path
        name: app_key
        required: true
        schema:
          type: string
      - description: The name of the property.
        in: path
        name: property_name
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: An empty response.
      tags:
      - properties
      x-tags:
      - tag: properties
  /repositories/{workspace}/{repo_slug}/issues:
    get:
      description: Returns the issues in the issue tracker.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_issues'
          description: A paginated list of the issues matching any filter criteria
            that were provided.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The specified repository does not exist or does not have the
            issue tracker enabled.
      security:
      - oauth2:
        - issue
      - basic: []
      - api_key: []
      tags:
      - issue_tracker
      x-tags:
      - tag: issue_tracker
    post:
      description: |-
        Creates a new issue.

        This call requires authentication. Private repositories or private
        issue trackers require the caller to authenticate with an account that
        has appropriate authorization.

        The authenticated user is used for the issue's `reporter` field.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issue'
        description: The new issue. The only required element is `title`. All other
          elements can be omitted from the body.
        required: true
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
          description: The newly created issue.
          headers:
            Location:
              description: The (absolute) URL of the newly created issue.
              schema:
                type: string
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: When the request wasn't authenticated.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: When the authenticated user isn't authorized to create the
            issue.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The specified repository does not exist or does not have the
            issue tracker enabled.
      security:
      - oauth2:
        - issue:write
      - basic: []
      - api_key: []
      tags:
      - issue_tracker
      x-tags:
      - tag: issue_tracker
  /repositories/{workspace}/{repo_slug}/downloads:
    get:
      description: Returns a list of download links associated with the repository.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unexpected error.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - downloads
      x-tags:
      - tag: downloads
    post:
      description: |-
        Upload new download artifacts.

        To upload files, perform a `multipart/form-data` POST containing one
        or more `files` fields:

            $ echo Hello World > hello.txt
            $ curl -s -u evzijst -X POST https://api.bitbucket.org/2.0/repositories/evzijst/git-tests/downloads -F files=@hello.txt

        When a file is uploaded with the same name as an existing artifact,
        then the existing file will be replaced.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unexpected error.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      tags:
      - downloads
      x-tags:
      - tag: downloads
  /repositories/{workspace}/{repo_slug}/deploy-keys:
    get:
      description: |-
        Returns all deploy-keys belonging to a repository.

        Example:
        ```
        $ curl -H "Authorization <auth header>" \
        https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys

        Output:
        {
            "pagelen": 10,
            "values": [
                {
                    "id": 123,
                    "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5",
                    "label": "mykey",
                    "type": "deploy_key",
                    "created_on": "2018-08-15T23:50:59.993890+00:00",
                    "repository": {
                        "full_name": "mleu/test",
                        "name": "test",
                        "type": "repository",
                        "uuid": "{85d08b4e-571d-44e9-a507-fa476535aa98}"
                    },
                    "links":{
                        "self":{
                            "href": "https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys/123"
                        }
                    }
                    "last_used": null,
                    "comment": "mleu@C02W454JHTD8"
                }
            ],
            "page": 1,
            "size": 1
        }
        ```
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_deploy_keys'
          description: Deploy keys matching the repository
        403:
          content: {}
          description: If the specified user or repository is not accessible to the
            current user
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the specified user or repository does not exist
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      tags:
      - deploy
      x-tags:
      - tag: deploy
    post:
      description: |-
        Create a new deploy key in a repository.

        Example:
        ```
        $ curl -XPOST \
        -H "Authorization <auth header>" \
        -H "Content-type: application/json" \
        https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys -d \
        '{
            "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5 mleu@C02W454JHTD8",
            "label": "mydeploykey"
        }'

        Output:
        {
            "id": 123,
            "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAK/b1cHHDr/TEV1JGQl+WjCwStKG6Bhrv0rFpEsYlyTBm1fzN0VOJJYn4ZOPCPJwqse6fGbXntEs+BbXiptR+++HycVgl65TMR0b5ul5AgwrVdZdT7qjCOCgaSV74/9xlHDK8oqgGnfA7ZoBBU+qpVyaloSjBdJfLtPY/xqj4yHnXKYzrtn/uFc4Kp9Tb7PUg9Io3qohSTGJGVHnsVblq/rToJG7L5xIo0OxK0SJSQ5vuId93ZuFZrCNMXj8JDHZeSEtjJzpRCBEXHxpOPhAcbm4MzULgkFHhAVgp4JbkrT99/wpvZ7r9AdkTg7HGqL3rlaDrEcWfL7Lu6TnhBdq5",
            "label": "mydeploykey",
            "type": "deploy_key",
            "created_on": "2018-08-15T23:50:59.993890+00:00",
            "repository": {
                "full_name": "mleu/test",
                "name": "test",
                "type": "repository",
                "uuid": "{85d08b4e-571d-44e9-a507-fa476535aa98}"
            },
            "links":{
                "self":{
                    "href": "https://api.bitbucket.org/2.0/repositories/mleu/test/deploy-keys/123"
                }
            }
            "last_used": null,
            "comment": "mleu@C02W454JHTD8"
        }
        ```
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploy_key'
          description: The deploy key that was created
        400:
          content: {}
          description: Invalid deploy key inputs
        403:
          content: {}
          description: If the specified user or repository is not accessible to the
            current user
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the specified user or repository does not exist
      security:
      - oauth2:
        - repository
        - repository:admin
      - basic: []
      - api_key: []
      tags:
      - deploy
      x-tags:
      - tag: deploy
  /repositories/{workspace}/{repo_slug}/commits:
    get:
      description: |-
        These are the repository's commits. They are paginated and returned
        in reverse chronological order, similar to the output of `git log` and
        `hg log`. Like these tools, the DAG can be filtered.

        ## GET /repositories/{workspace}/{repo_slug}/commits/

        Returns all commits in the repo in topological order (newest commit
        first). All branches and tags are included (similar to
        `git log --all` and `hg log`).

        ## GET /repositories/{workspace}/{repo_slug}/commits/master

        Returns all commits on rev `master` (similar to `git log master`,
        `hg log master`).

        ## GET /repositories/{workspace}/{repo_slug}/commits/dev?exclude=master

        Returns all commits on ref `dev`, except those that are reachable on
        `master` (similar to `git log dev ^master`).

        ## GET /repositories/{workspace}/{repo_slug}/commits/?exclude=master

        Returns all commits in the repo that are not on master
        (similar to `git log --all ^master`).

        ## GET /repositories/{workspace}/{repo_slug}/commits/?include=foo&include=bar&exclude=fu&exclude=fubar

        Returns all commits that are on refs `foo` or `bar`, but not on `fu` or
        `fubar` (similar to `git log foo bar ^fu ^fubar`).

        An optional `path` parameter can be specified that will limit the
        results to commits that affect that path. `path` can either be a file
        or a directory. If a directory is specified, commits are returned that
        have modified any file in the directory tree rooted by `path`. It is
        important to note that if the `path` parameter is specified, the commits
        returned by this endpoint may no longer be a DAG, parent commits that
        do not modify the path will be omitted from the response.

        ## GET /repositories/{workspace}/{repo_slug}/commits/?path=README.md&include=foo&include=bar&exclude=master

        Returns all commits that are on refs `foo` or `bar`, but not on `master`
        that changed the file README.md.

        ## GET /repositories/{workspace}/{repo_slug}/commits/?path=src/&include=foo&include=bar&exclude=master

        Returns all commits that are on refs `foo` or `bar`, but not on `master`
        that changed to a file in any file in the directory src or its children.

        Because the response could include a very large number of commits, it
        is paginated. Follow the 'next' link in the response to navigate to the
        next page of commits. As with other paginated resources, do not
        construct your own links.

        When the include and exclude parameters are more than can fit in a
        query string, clients can use a `x-www-form-urlencoded` POST instead.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unexpected error.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - commits
      x-tags:
      - tag: commits
    post:
      description: |-
        Identical to `GET /repositories/{workspace}/{repo_slug}/commits`,
        except that POST allows clients to place the include and exclude
        parameters in the request body to avoid URL length issues.

        **Note that this resource does NOT support new commit creation.**
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unexpected error.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - commits
      x-tags:
      - tag: commits
  /repositories/{workspace}/{repo_slug}/commit/{node}/approve:
    delete:
      description: |-
        Redact the authenticated user's approval of the specified commit.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The commit's SHA1.
        in: path
        name: node
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: An empty response indicating the authenticated user's approval
            has been withdrawn.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the specified commit, or the repository does not exist.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      tags:
      - commits
      x-tags:
      - tag: commits
    post:
      description: |-
        Approve the specified commit as the authenticated user.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The commit's SHA1.
        in: path
        name: node
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
          description: The `participant` object recording that the authenticated user
            approved the commit.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the specified commit, or the repository does not exist.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      tags:
      - commits
      x-tags:
      - tag: commits
  /teams/{username}/following:
    get:
      description: Returns the list of accounts this team is following.
      parameters:
      - description: The team's username
        in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_users'
          description: A paginated list of user objects.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If no team exists for the specified name, or if the specified
            account is a personal account, not a team account.
      security:
      - oauth2:
        - account
      - basic: []
      - api_key: []
      tags:
      - teams
      x-tags:
      - tag: teams
  /repositories/{workspace}/{repo_slug}/branching-model/settings:
    get:
      description: |-
        Return the branching model configuration for a repository. The returned
        object:

        1. Always has a `development` property for the development branch.
        2. Always a `production` property for the production branch. The
           production branch can be disabled.
        3. The `branch_types` contains all the branch types.

        This is the raw configuration for the branching model. A client
        wishing to see the branching model with its actual current branches may
        find the [active model API](../branching-model#get) more useful.

        Example body:

        ```
        {
          "development": {
            "is_valid": true,
            "name": null,
            "use_mainbranch": true
          },
          "production": {
            "is_valid": true,
            "name": "production",
            "use_mainbranch": false,
            "enabled": false
          },
          "branch_types": [
            {
              "kind": "release",
              "enabled": true,
              "prefix": "release/"
            },
            {
              "kind": "hotfix",
              "enabled": true,
              "prefix": "hotfix/"
            },
            {
              "kind": "feature",
              "enabled": true,
              "prefix": "feature/"
            },
            {
              "kind": "bugfix",
              "enabled": false,
              "prefix": "bugfix/"
            }
          ],
          "type": "branching_model_settings",
          "links": {
            "self": {
              "href": "https://api.bitbucket.org/.../branching-model/settings"
            }
          }
        }
        ```
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
          description: The branching model configuration
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the request was not authenticated
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have admin access to the
            repository
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the repository does not exist
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      tags:
      - branching_model
      x-tags:
      - tag: branching_model
    put:
      description: |-
        Update the branching model configuration for a repository.

        The `development` branch can be configured to a specific branch or to
        track the main branch. When set to a specific branch it must
        currently exist. Only the passed properties will be updated. The
        properties not passed will be left unchanged. A request without a
        `development` property will leave the development branch unchanged.

        It is possible for the `development` branch to be invalid. This
        happens when it points at a specific branch that has been
        deleted. This is indicated in the `is_valid` field for the branch. It is
        not possible to update the settings for `development` if that
        would leave the branch in an invalid state. Such a request will be
        rejected.

        The `production` branch can be a specific branch, the main
        branch or disabled. When set to a specific branch it must currently
        exist. The `enabled` property can be used to enable (`true`) or
        disable (`false`) it. Only the passed properties will be updated. The
        properties not passed will be left unchanged. A request without a
        `production` property will leave the production branch unchanged.

        It is possible for the `production` branch to be invalid. This
        happens when it points at a specific branch that has been
        deleted. This is indicated in the `is_valid` field for the branch. A
        request that would leave `production` enabled and invalid will be
        rejected. It is possible to update `production` and make it invalid if
        it would also be left disabled.

        The `branch_types` property contains the branch types to be updated.
        Only the branch types passed will be updated. All updates will be
        rejected if it would leave the branching model in an invalid state.
        For branch types this means that:

        1. The prefixes for all enabled branch types are valid. For example,
           it is not possible to use '*' inside a Git prefix.
        2. A prefix of an enabled branch type must not be a prefix of another
           enabled branch type. This is to ensure that a branch can be easily
           classified by its prefix unambiguously.

        It is possible to store an invalid prefix if that branch type would be
        left disabled. Only the passed properties will be updated. The
        properties not passed will be left unchanged. Each branch type must
        have a `kind` property to identify it.

        Example Body:

        ```
            {
              "development": {
                "use_mainbranch": true
              },
              "production": {
                "enabled": true,
                "use_mainbranch": false,
                "name": "production"
              },
              "branch_types": [
                {
                  "kind": "bugfix",
                  "enabled": true,
                  "prefix": "bugfix/"
                },
                {
                  "kind": "feature",
                  "enabled": true,
                  "prefix": "feature/"
                },
                {
                  "kind": "hotfix",
                  "prefix": "hotfix/"
                },
                {
                  "kind": "release",
                  "enabled": false,
                }
              ]
            }
        ```
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
          description: The updated branching model configuration
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the request contains invalid branching model configuration
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the request was not authenticated
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have admin access to the
            repository
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the repository does not exist
      security:
      - oauth2:
        - repository:admin
      - basic: []
      - api_key: []
      tags:
      - branching_model
      x-tags:
      - tag: branching_model
  /teams/{username}/search/code:
    get:
      operationId: searchAccount
      parameters:
      - description: The account to search in; either the username or the UUID in
          curly braces
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: The search query
        in: query
        name: search_query
        required: true
        schema:
          type: string
      - description: Which page of the search results to retrieve
        in: query
        name: page
        schema:
          default: 1
          format: int32
          type: integer
      - description: How many search results to retrieve per page
        in: query
        name: pagelen
        schema:
          default: 10
          format: int32
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_result_page'
          description: Successful search
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: |-
            If the search request was invalid due to one of the following reasons:
            * the specified type of target account doesn't match the actual account type;
            * malformed pagination properties;
            * missing or malformed search query, in the latter case an error key will be returned in `error.data.key` property.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Search is not enabled for the requested team, navigate to [https://bitbucket.org/search](https://bitbucket.org/search)
            to turn it on
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Too many requests, try again later
      summary: Search for code in the repositories of the specified team
      tags:
      - search
      x-tags:
      - tag: search
  /repositories/{workspace}/{repo_slug}/pipelines_config:
    get:
      description: Retrieve the repository pipelines configuration.
      operationId: getRepositoryPipelineConfig
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipelines_config'
          description: The repository pipelines configuration.
      tags:
      - pipelines
      x-tags:
      - tag: pipelines
    put:
      description: Update the pipelines configuration for a repository.
      operationId: updateRepositoryPipelineConfig
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipelines_config'
        description: The updated repository pipelines configuration.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipelines_config'
          description: The repository pipelines configuration was updated.
      tags:
      - pipelines
      x-tags:
      - tag: pipelines
  /teams/{username}/projects/:
    get:
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_projects'
          description: A paginated list of projects that belong to the specified team.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The requesting user isn't authorized to read the list of projects
            for the specified team.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: A team doesn't exist at this location.
      security:
      - oauth2:
        - project
      - basic: []
      - api_key: []
      tags:
      - projects
      x-tags:
      - tag: projects
    post:
      description: |-
        Creates a new project.

        Note that the avatar has to be embedded as either a data-url
        or a URL to an external image as shown in the examples below:

        ```
        $ body=$(cat << EOF
        {
            "name": "Mars Project",
            "key": "MARS",
            "description": "Software for colonizing mars.",
            "links": {
                "avatar": {
                    "href": "data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/..."
                }
            },
            "is_private": false
        }
        EOF
        )
        $ curl -H "Content-Type: application/json" \
               -X POST \
               -d "$body" \
               https://api.bitbucket.org/2.0/teams/teams-in-space/projects/ | jq .
        {
          // Serialized project document
        }
        ```

        or even:

        ```
        $ body=$(cat << EOF
        {
            "name": "Mars Project",
            "key": "MARS",
            "description": "Software for colonizing mars.",
            "links": {
                "avatar": {
                    "href": "http://i.imgur.com/72tRx4w.gif"
                }
            },
            "is_private": false
        }
        EOF
        )
        $ curl -H "Content-Type: application/json" \
               -X POST \
               -d "$body" \
               https://api.bitbucket.org/2.0/teams/teams-in-space/projects/ | jq .
        {
          // Serialized project document
        }
        ```
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: username
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project'
        required: true
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: A new project has been created.
          headers:
            Location:
              description: The location of the newly created project
              schema:
                type: string
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The requesting user isn't authorized to create the project.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: A team doesn't exist at this location.
      security:
      - oauth2:
        - project:write
      - basic: []
      - api_key: []
      tags:
      - projects
      x-tags:
      - tag: projects
  /repositories/{workspace}/{repo_slug}/hooks:
    get:
      description: Returns a paginated list of webhooks installed on this repository.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_webhook_subscriptions'
          description: The paginated list of installed webhooks.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have permission to access
            the webhooks.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the repository does not exist.
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      tags:
      - repositories
      x-tags:
      - hasMore: "true"
        tag: repositories
      - tag: webhooks
    post:
      description: |-
        Creates a new webhook on the specified repository.

        Example:

        ```
        $ curl -X POST -u credentials -H 'Content-Type: application/json'           https://api.bitbucket.org/2.0/repositories/username/slug/hooks           -d '
            {
              "description": "Webhook Description",
              "url": "https://example.com/",
              "active": true,
              "events": [
                "repo:push",
                "issue:created",
                "issue:updated"
              ]
            }'
        ```

        Note that this call requires the webhook scope, as well as any scope
        that applies to the events that the webhook subscribes to. In the
        example above that means: `webhook`, `repository` and `issue`.

        Also note that the `url` must properly resolve and cannot be an
        internal, non-routed address.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_subscription'
          description: If the webhook was registered successfully.
          headers:
            Location:
              description: The URL of new newly created webhook.
              schema:
                type: string
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have permission to install
            webhooks on the specified repository.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the repository does not exist.
      security:
      - oauth2:
        - webhook
      - basic: []
      - api_key: []
      tags:
      - repositories
      x-tags:
      - hasMore: "true"
        tag: repositories
      - tag: webhooks
  /teams/{username}/permissions:
    get:
      description: "Returns an object for each team permission a user on the team\
        \ has.\n\nPermissions returned are effective permissions â\x80\x94 if a user\
        \ is a member of\nmultiple groups with distinct roles, only the highest level\
        \ is returned.\n\nPermissions can be:\n\n* `admin`\n* `collaborator`\n\nOnly\
        \ users with admin permission for the team may access this resource.\n\nExample:\n\
        \n```\n$ curl https://api.bitbucket.org/2.0/teams/atlassian_tutorial/permissions\n\
        \n{\n  \"pagelen\": 10,\n  \"values\": [\n    {\n      \"permission\": \"\
        admin\",\n      \"type\": \"team_permission\",\n      \"user\": {\n      \
        \  \"type\": \"user\",\n        \"username\": \"evzijst\",\n        \"nickname\"\
        : \"evzijst\",\n        \"display_name\": \"Erik van Zijst\",\n        \"\
        uuid\": \"{d301aafa-d676-4ee0-88be-962be7417567}\"\n      },\n      \"team\"\
        : {\n        \"username\": \"bitbucket\",\n        \"display_name\": \"Atlassian\
        \ Bitbucket\",\n        \"uuid\": \"{4cc6108a-a241-4db0-96a5-64347ac04f87}\"\
        \n      }\n    },\n    {\n      \"permission\": \"collaborator\",\n      \"\
        type\": \"team_permission\",\n      \"user\": {\n        \"type\": \"user\"\
        ,\n        \"username\": \"seanaty\",\n        \"nickname\": \"seanaty\",\n\
        \        \"display_name\": \"Sean Conaty\",\n        \"uuid\": \"{504c3b62-8120-4f0c-a7bc-87800b9d6f70}\"\
        \n      },\n      \"team\": {\n        \"username\": \"bitbucket\",\n    \
        \    \"display_name\": \"Atlassian Bitbucket\",\n        \"uuid\": \"{4cc6108a-a241-4db0-96a5-64347ac04f87}\"\
        \n      }\n    }\n  ],\n  \"page\": 1,\n  \"size\": 2\n}\n```\n\nResults may\
        \ be further [filtered or sorted](../../../meta/filtering) by\nteam, user,\
        \ or permission by adding the following query string\nparameters:\n\n* `q=user.username=\"\
        evzijst\"` or `q=permission=\"admin\"`\n* `sort=team.display_name`\n\nNote\
        \ that the query parameter values need to be URL escaped so that `=`\nwould\
        \ become `%3D`."
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: |2-

          Query string to narrow down the response as per
          [filtering and sorting](../../../meta/filtering).
        in: query
        name: q
        schema:
          type: string
      - description: |2

          Name of a response property sort the result by as per
          [filtering and sorting](../../../meta/filtering#query-sort).
        in: query
        name: sort
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_team_permissions'
          description: Repositories owned by a team.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The requesting user isn't an admin of the team.
      security:
      - oauth2:
        - team
      - basic: []
      - api_key: []
      tags: []
      x-tags: []
  /snippets/{username}/{encoded_id}/comments:
    get:
      description: |-
        Used to retrieve a paginated list of all comments for a specific
        snippet.

        This resource works identical to commit and pull request comments.

        The default sorting is oldest to newest and can be overridden with
        the `sort` query parameter.
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      - in: path
        name: encoded_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_snippet_comments'
          description: A paginated list of snippet comments, ordered by creation date.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have access to the snippet.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the snippet does not exist.
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      tags:
      - snippets
      x-tags:
      - tag: snippets
    post:
      description: |-
        Creates a new comment.

        The only required field in the body is `content.raw`.

        To create a threaded reply to an existing comment, include `parent.id`.
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      - in: path
        name: encoded_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snippet'
        description: The contents of the new comment.
        required: true
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snippet'
          description: The newly created comment.
          headers:
            Location:
              description: The URL of the new comment
              schema:
                type: string
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the authenticated user does not have access to the snippet.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the snippet does not exist.
      security:
      - oauth2:
        - snippet
      - basic: []
      - api_key: []
      tags:
      - snippets
      x-tags:
      - tag: snippets
  /users/{username}/search/code:
    get:
      operationId: searchAccount
      parameters:
      - description: The account to search in; either the username or the UUID in
          curly braces
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: The search query
        in: query
        name: search_query
        required: true
        schema:
          type: string
      - description: Which page of the search results to retrieve
        in: query
        name: page
        schema:
          default: 1
          format: int32
          type: integer
      - description: How many search results to retrieve per page
        in: query
        name: pagelen
        schema:
          default: 10
          format: int32
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_result_page'
          description: Successful search
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: |-
            If the search request was invalid due to one of the following reasons:
            * the specified type of target account doesn't match the actual account type;
            * malformed pagination properties;
            * missing or malformed search query, in the latter case an error key will be returned in `error.data.key` property.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Search is not enabled for the requested user, navigate to [https://bitbucket.org/search](https://bitbucket.org/search)
            to turn it on
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Too many requests, try again later
      summary: Search for code in the repositories of the specified user
      tags:
      - search
      x-tags:
      - tag: search
  /teams/{username}/permissions/repositories:
    get:
      description: "Returns an object for each repository permission for all of a\n\
        teamâ\x80\x99s repositories.\n\nIf the username URL parameter refers to a\
        \ user account instead of\na team account, an object containing the repository\
        \ permissions\nof all the username's repositories will be returned.\n\nPermissions\
        \ returned are effective permissions â\x80\x94 the highest level of\npermission\
        \ the user has. This does not include public repositories that\nusers are\
        \ not granted any specific permission in, and does not\ndistinguish between\
        \ direct and indirect privileges.\n\nOnly users with admin permission for\
        \ the team may access this resource.\n\nPermissions can be:\n\n* `admin`\n\
        * `write`\n* `read`\n\nExample:\n\n```\n$ curl https://api.bitbucket.org/2.0/teams/atlassian_tutorial/permissions/repositories\n\
        \n{\n  \"pagelen\": 10,\n  \"values\": [\n    {\n      \"type\": \"repository_permission\"\
        ,\n      \"user\": {\n        \"type\": \"user\",\n        \"username\": \"\
        evzijst\",\n        \"display_name\": \"Erik van Zijst\",\n        \"uuid\"\
        : \"{d301aafa-d676-4ee0-88be-962be7417567}\"\n      },\n      \"repository\"\
        : {\n        \"type\": \"repository\",\n        \"name\": \"geordi\",\n  \
        \      \"full_name\": \"bitbucket/geordi\",\n        \"uuid\": \"{85d08b4e-571d-44e9-a507-fa476535aa98}\"\
        \n      },\n      \"permission\": \"admin\"\n    },\n    {\n      \"type\"\
        : \"repository_permission\",\n      \"user\": {\n        \"type\": \"user\"\
        ,\n        \"username\": \"seanaty\",\n        \"display_name\": \"Sean Conaty\"\
        ,\n        \"uuid\": \"{504c3b62-8120-4f0c-a7bc-87800b9d6f70}\"\n      },\n\
        \      \"repository\": {\n        \"type\": \"repository\",\n        \"name\"\
        : \"geordi\",\n        \"full_name\": \"bitbucket/geordi\",\n        \"uuid\"\
        : \"{85d08b4e-571d-44e9-a507-fa476535aa98}\"\n      },\n      \"permission\"\
        : \"write\"\n    }\n  ],\n  \"page\": 1,\n  \"size\": 2\n}\n```\n\nResults\
        \ may be further [filtered or sorted](../../../../meta/filtering)\nby repository,\
        \ user, or permission by adding the following query string\nparameters:\n\n\
        * `q=repository.name=\"geordi\"` or `q=permission>\"read\"`\n* `sort=user.display_name`\n\
        \nNote that the query parameter values need to be URL escaped so that `=`\n\
        would become `%3D`."
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: |2-

          Query string to narrow down the response as per
          [filtering and sorting](../../../../meta/filtering).
        in: query
        name: q
        schema:
          type: string
      - description: |2

          Name of a response property sort the result by as per
          [filtering and sorting](../../../../meta/filtering#query-sort).
        in: query
        name: sort
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repository_permissions'
          description: List of team's repository permissions.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The requesting user isn't an admin of the team.
      security:
      - oauth2:
        - team
      - basic: []
      - api_key: []
      tags: []
      x-tags: []
  /repositories/{workspace}/{repo_slug}/refs/tags:
    get:
      description: |-
        Returns the tags in the repository.

        By default, results will be in the order the underlying source control system returns them and identical to
        the ordering one sees when running "$ hg tags" or "$ git tag --list". Note that this follows simple
        lexical ordering of the ref names.

        This can be undesirable as it does apply any natural sorting semantics, meaning for instance that tags are
        sorted ["v10", "v11", "v9"] instead of ["v9", "v10", "v11"].

        Sorting can be changed using the ?sort= query parameter. When using ?sort=name to explicitly sort on ref name,
        Bitbucket will apply natural sorting and interpret numerical values as numbers instead of strings.
      parameters:
      - description: |2

          This can either be the username or the UUID of the user,
          surrounded by curly-braces, for example: `{user UUID}`.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |2

          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: |2-

          Query string to narrow down the response as per
          [filtering and sorting](../../../../../../meta/filtering).
        in: query
        name: q
        schema:
          type: string
      - description: |2-

          Field by which the results should be sorted as per
          [filtering and sorting](../../../../../../meta/filtering). The `name`
          field is handled specially for tags in that, if specified as the sort field, it
          uses a natural sort order instead of the default lexicographical sort order. For example,
          it will return ['1.1', '1.2', '1.10'] instead of ['1.1', '1.10', '1.2'].
        in: query
        name: sort
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_tags'
          description: A paginated list of tags matching any filter criteria that
            were provided.
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: |
            If the repository is private and the authenticated user does not have
            access to it.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The specified repository does not exist.
      security:
      - oauth2:
        - repository
      - basic: []
      - api_key: []
      tags:
      - refs
      x-tags:
      - tag: refs
    post:
      description: |-
        Creates a new tag in the specified repository.

        The payload of the POST should consist of a JSON document that
        contains the name of the tag and the target hash.

        ```
        curl https://api.bitbucket.org/2.0/repositories/jdoe/myrepo/refs/tags \
        -s -u jdoe -X POST -H "Content-Type: application/json" \
        -d '{
            "name" : "new-tag-name",
            "target" : {
                "hash" : "a1b2c3d4e5f6",
            }
        }'
        ```

        This endpoint does support using short hash prefixes for the commit
        hash, but it may return a 400 response if the provided prefix is
        ambiguous. Using a full commit hash is the preferred approach.
      parameters:
      - description: |
          This can either be the username or the UUID of the account,
          surrounded by curly-braces, for example: `{account UUID}`. An account
          is either a team or user.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: The newly created tag.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If the target hash is missing, ambiguous, or invalid, or if
            the name is not provided.
      security:
      - oauth2:
        - repository:write
      - basic: []
      - api_key: []
      tags:
      - refs
      x-tags:
      - tag: refs
  /users/{username}/followers:
    get:
      description: |-
        Returns the list of accounts that are following this user.

        This operation has been deprecated due to privacy changes.
        See the [announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-changes-gdpr/) for details.
      parameters:
      - description: The account's username
        in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_users'
          description: A paginated list of user objects.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: If no account exists for the specified name, or if the specified
            account is a team account, not a personal account.
      security:
      - oauth2: []
      - basic: []
      - api_key: []
      tags:
      - users
      x-tags:
      - tag: users
  /repositories/{workspace}/{repo_slug}/pullrequests/{pull_request_id}/commits:
    get:
      description: |-
        Returns a paginated list of the pull request's commits.

        These are the commits that are being merged into the destination
        branch when the pull requests gets accepted.
      parameters:
      - in: path
        name: workspace
        required: true
        schema:
          type: string
      - in: path
        name: pull_request_id
        required: true
        schema:
          type: string
      - in: path
        name: repo_slug
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests_commits'
          description: Ok.
      security:
      - oauth2:
        - pullrequest
      - basic: []
      - api_key: []
      tags:
      - pullrequests
      x-tags:
      - tag: pullrequests
  /repositories/{workspace}/{repo_slug}/pipelines_config/schedules/{schedule_uuid}:
    delete:
      description: Delete a schedule.
      operationId: deleteRepositoryPipelineSchedule
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
          type: string
      - description: The repository.
        in: path
        name: repo_slug
        required: true
        schema:
          type: string
      - description: The uuid of the schedule.
        in: path
        name: schedule_uuid
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: The schedule was deleted.
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The account, repository or schedule was not found.
      tags:
      - pipelines
      x-tags:
      - tag: pipelines
    get:
      description: Retrieve a schedule by its UUID.
      operationId: getRepositoryPipelineSchedule
      parameters:
      - description: The account.
        in: path
        name: workspace
        required: true
        schema:
[...]
